<nav class="site-nav">
    <menu>
        {% for entry in nav %}
        <li class="nav-link">{%- if page.url == entry.url -%}<strong>{{ entry.label }}</strong>{%- else -%}<a href="{{ entry.url }}">{{ entry.label }}</a>{%- endif -%}
            {%- if entry.submenu -%}<menu>
                {% for item in entry.submenu %}<li class="nav-link">{%- if page.url == item.url -%}<strong>{{ item.label }}</strong>{%- else -%}<a href="{{ item.url }}">{{ item.label }}</a>{%- endif -%}</li>
            {% endfor %}</menu>{%- endif -%}
        </li>{% endfor %}
    </menu>
</nav>